<div class="product-dashboard">
  <h2>All Courses</h2>
  <div *ngIf="products.length > 0; else loading">
      <div *ngFor="let product of products" class="product-card">
          <!-- <img [src]="product.processedImg" alt="Product Image"> -->
          <div class="product-details">
              <p>{{ product.id }}</p>
              <h3>{{ product.name }}</h3>
              <p>{{ product.description }}</p>
          </div>
          <div class="button-container">
            <button class="view-button" (click)="redirectToUpdatePage(product.id)">View Content</button>
            <button class="delete-button">Delete</button>
        </div>
      </div>
  </div>
  <ng-template #loading>
      <p>Loading products...</p>
  </ng-template>
</div>

  
  