
<div class="product-list">
    <mat-card class="product-card" *ngFor="let content of contents">
        <div class="product-image">
            <img [src]="content.processedImg" alt="Product Image">
        </div>

        <div class="product-details">
            <h2 class="product-name">{{content.title}}</h2>
            <p class="product-description">{{content.description}}</p>

            <mat-divider></mat-divider>
            <div class="product-info">
                <div class="info-row">
                    <span class="info-label">Content Type</span>
                    <span class="info-value">{{content.contentType}}</span>
                </div>
                <div class="info-row">
                    <span class="info-label">Content Status</span>
                    <span class="info-value">{{content.status}}</span>
                </div>
            </div>

            <mat-divider></mat-divider>
            <div class="actions">
                <button mat-raised-button color="accent" class="update-button" (click)="redirectToUpdatePage(content.id)">Approve Course Content</button>
                <button mat-raised-button color="primary" class="download-button" (click)="downloadImage(content.processedImg, content.id)"><mat-icon>cloud_download</mat-icon></button>
            </div>
        </div>
    </mat-card>
</div>