<!-- <ng-container>

    <mat-table #basicTable [dataSource]="products" class="mat-elevation-z8">
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef style="font-weight: bolder; color: #003973;">Course ID</mat-header-cell>
        <mat-cell *matCellDef="let product">{{product.id}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef style="font-weight: bolder; color: #003973;">Name</mat-header-cell>
        <mat-cell *matCellDef="let product">{{product.name}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef style="font-weight: bolder; color: #003973;">Description</mat-header-cell>
        <mat-cell *matCellDef="let product">{{product.description}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="coursePrice">
        <mat-header-cell *matHeaderCellDef style="font-weight: bolder; color: #003973;">Course Price</mat-header-cell>
        <mat-cell *matCellDef="let product">{{product.coursePrice}} $</mat-cell>
      </ng-container>
  
  
      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef style="font-weight: bolder; color: #003973;">Action</mat-header-cell>
        <mat-cell *matCellDef="let product">
          <button mat-raised-button color="primary" (click)="redirectToUpdatePage(product.id)">View Content</button>
          <button mat-raised-button color="warn" style="margin-left: 5px;" (click)="redirectToEnrollPage(product.id, product.name)" >Enroll</button>
        </mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="['id', 'name', 'description', 'coursePrice', 'action']"></mat-header-row>
      <mat-row *matRowDef="let product; columns: ['id', 'name', 'description', 'coursePrice','action']"></mat-row>
    </mat-table>
  
  </ng-container>

 -->


 <div class="course-list-container">
    <div class="course-card" *ngFor="let product of products">
        <div class="course-content">
            <h3>{{ product.name }}</h3>
            <p>{{ product.description }}</p>
            <div class="course-price">{{ product.coursePrice }} $</div>
        </div>
        <div class="button-container">
            <button class="view-button" (click)="redirectToUpdatePage(product.id)">View Content</button>
            <button class="enroll-button" (click)="redirectToEnrollPage(product.id, product.name)">Enroll</button>
            <!-- <button class="delete-button" (click)="deleteProduct(product.id)">Delete</button> -->
        </div>
    </div>
</div>

<ng-template #loading>
    <div class="spinner">
        <mat-spinner></mat-spinner>
        <p>Loading courses...</p>
    </div>
</ng-template>
