<!-- check customer or admin login  -->
<div *ngIf = "!isCustomerLoggedIn && !isAdminLoggedIn">
  <mat-toolbar color="primary" class="navbar">
    <span class="navbar-brand">Task Managment System</span>
    <span class="spacer"></span>
    <button mat-button routerLink="/order" routerLinkActive="active">Track Order</button>
    <button mat-button routerLink="/signup" routerLinkActive="active">Register</button>
    <button mat-button routerLink="/login" routerLinkActive="active">Login</button>
  </mat-toolbar>
</div>

<!--show admin login nav bar details  -->
<div *ngIf = "isAdminLoggedIn">
  <mat-toolbar color="primary" class="navbar">
    <span class="navbar-brand">Task Managment System</span>
    <span class="spacer"></span>
    <button mat-button routerLink="/teamlead/dashboard" routerLinkActive="active">Dashboard</button>
    <button mat-button routerLink="/teamlead/addTask" routerLinkActive="active">Add Task</button>
    <button mat-button routerLink="/teamlead/updateTask/:id" routerLinkActive="active">Add Task</button>
    <button mat-button routerLinkActive="active" (click)="logout()">Logout</button>
  </mat-toolbar>
</div>

<!--show member login nav bar details  -->
<div *ngIf = "isCustomerLoggedIn">
  <mat-toolbar color="primary" class="navbar">
    <span class="navbar-brand">Task Managment System</span>
    <span class="spacer"></span>
    <button mat-button routerLink="/member/dashboard" routerLinkActive="active">Dashboard</button>
    <button mat-button routerLinkActive="active" (click)="logout()">Logout</button>
  </mat-toolbar>
</div>

<router-outlet></router-outlet>