<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learner Detail</title>
</head>
<body>
    <div class="container">
        <h1>Learner Detail</h1>
        <div *ngIf="learner" class="learner-details">
            <ul>
              <li><strong>Name:</strong> {{ learner.name }}</li>
              <li><strong>Email:</strong> {{ learner.email }}</li>
              <li><strong>Card Number:</strong> {{ learner.cardNumber }}</li>
            </ul>
          </div>
        <div *ngIf="learner" class="courses-container">
            <div class="course-group">
                <h3>Enrolled Courses:</h3>
                <div *ngFor="let courseId of objectKeys(learner.enrolledCourses)" class="course">
                    <div><strong>Name:</strong> {{ learner.enrolledCourses[courseId].name }}</div>
                    <div><strong>Price:</strong> {{ learner.enrolledCourses[courseId].price }}</div>
                    <div><strong>Payment Status:</strong> {{ learner.enrolledCourses[courseId].paymentStatus }}</div>
                </div>
            </div>

            <div class="course-group">
                <h3>Completed Courses:</h3>
                <div *ngFor="let courseId of objectKeys(learner.completedCourses)" class="course">
                    <div><strong>Name:</strong> {{ learner.completedCourses[courseId] }}</div>
                </div>
            </div>

            <div class="course-group">
                <h3>In-Progress Courses:</h3>
                <div *ngFor="let courseId of objectKeys(learner.inProgressCourses)" class="course">
                    <div><strong>Name:</strong> {{ learner.inProgressCourses[courseId] }}</div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
