<form [formGroup]="" class="search-from">
 <!-- <mat-form-field appearance="outline" class="search-input">
  <mat-label>Enter keyword to search</mat-label>
  <input matInput formControlName="title">

  <button mat-button matSuffix color="primary" class="update-button" disabled="searchProductForm.invalid">
    <mat-icon>search</mat-icon>
  </button>
 </mat-form-field> -->
</form>
<div class="product-list">
  <mat-card class="product-card" *ngFor="let content of contents">
    <div class="product-image">
      <img [src]="content.processedImg" alt="Product Image">
    </div>

    <div class="product-details">
      <h2 class="product-name">{{content.title}}</h2>
      <p class="product-description">{{content.description}}</p>

      <mat-divider></mat-divider>
      <div class="product-info">
        <div class="info-row">
          <span class="info-label">Content Type</span>
          <span class="info-value">{{content.contentType}}</span>
        </div>
        <div class="info-row">
          <span class="info-label">Content Status</span>
          <span class="info-value">{{content.status}}</span>
        </div>
      </div>

      <mat-divider></mat-divider>
        <div class="actions">
          <!-- <button mat-raised-button color="primary" class="update-button" [routerLink]="'/'">Mark As Complete</button> -->
          <button mat-raised-button color="accent" class="update-button" (click)="redirectToUpdatePage(content.id)">Update</button>
          <button mat-raised-button color="warn" class="delete-button" (click)="deleteContent(content.id)">Delete</button>
        </div>
    </div>
  </mat-card>
</div>
